<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Framework classes -->
    <preference for="Magento\Framework\Mail\Template\TransportBuilder"
                type="Webqam\EmailAttachment\Preference\Magento\Framework\Mail\Template\TransportBuilder"/>
    <preference for="Magento\Framework\Mail\MimeMessage"
                type="Webqam\EmailAttachment\Preference\Magento\Framework\Mail\MimeMessage"/>
    <!-- Emails -->
    <preference for="Magento\Sales\Model\Order\Email\SenderBuilder"
                type="Webqam\EmailAttachment\Preference\Magento\Sales\Model\Order\Email\SenderBuilder"/>
</config>
